@import '../scss-boostrap/bootstrap.scss';
// Variables de colores personalizados
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;
;

// Estilo General
body {
    color: $dark-color;
    font-family: Arial, sans-serif;
}

// Navbar
.navbar {
    background-color: $light-color;
    color: $dark-color;

}

.nav-item {
    &:hover {
        background-color: $dark-color;

        .nav-link {
            color: $light-color;
        }
    }
}

// Hero Section
.hero {
    background: url('https://placehold.co/1500x600') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}


.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 10px 0;
    color: $light-color;
}

.section-title {
    text-align: center;
    margin-bottom: 30px 0;
    color: $primary-color;
    font-size: 2rem;
}

.info-section,
.experience-section,
.education-section,
.skills-section {
    padding: 50px 0;
}

.list-group-item {
    background-color: $light-color;
    border: none;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}